.component02 {
  margin-top: 200px;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-family: "OpenSans-Light";
}

.component02__header {
  font-size: 36px;
  margin-bottom: 50px;
}

.component02__carousel {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.component02__carouselItem {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.component02__carouselItem_image {
  border-bottom: 5px solid red;
  width: 384px;
  height: 290px;
  cursor: pointer;
}

.component02__carouselItem_header {
  font-size: 20px;
  font-family: 'OpenSans-SemiBold';
}

.component02__carouselItem_details {
  max-width: 384px;
  line-height: 30px;
  margin-bottom: 10px;
  color: #a3a4a4;
}

.component02__carouselItem_readMore {
  border-bottom: 1px solid red;
  padding-bottom: 10px;
  max-width: 100px;
  font-family: 'OpenSans-SemiBold';
}

/* Laptop */
@media (min-width: 770px) and (max-width: 1120px) {
  .component02__carouselItem_image {
    width: 300px;
    height: 240px;
  }
  .component02__carouselItem_details {
    max-width: 300px;
  }
  .component02__carouselItem_header {
    max-width: 300px;
  }
}

/* Tablet */

@media (min-width: 700px) and (max-width: 800px) {
  .component02__carousel {
    flex-direction: column;
    gap: 40px;
  }

  .component02__carouselItem_image {
    width: 60vw;
    height: auto;
  }
  .component02__carouselItem_details {
    max-width: 60vw;
  }
  .component02__carouselItem_header {
    max-width: 60vw;
  }
}

/* Mobile */

@media (min-width: 320px) and (max-width: 425px) {
  .component02__carousel {
    flex-direction: column;
    gap: 40px;
  }
  
  .component02__header {
    font-size: 24px;
  }
  

  .component02__carouselItem_image {
    width: 80vw;
    height: auto;
  }
  .component02__carouselItem_details {
    max-width: 80vw;
  }
  .component02__carouselItem_header {
    max-width: 80vw;
  }
}
